.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.hidden {
  display: none;
}
.container {
  width: 70%;
  height: 100%;
  background-color: #fff;
  animation: slide-right 0.3s linear;
}

@keyframes slide-right {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

.iconButton {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton > .icon {
    font-size: 2rem;
    padding: 0;
}

.list {
    padding: 5px 12px;
}

.list > li {
    margin: 16px 5px;
}

.list > li > a {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: none;
  }
}
