.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.iconButton {
  position: absolute;
  top: -40px;
  right: -10px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.iconButton > .icon {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}

.iconButton:hover {
    transform: scale(1.1);
}

.iconButton:active {
    transform: scale(0.95);
}

.image {
  width: 360px;
  height: 360px;
  position: relative;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.leftButton {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.rightButton {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.leftButton:hover, .rightButton:hover {
    transform: scale(1.1);
}
.leftButton:active, .rightButton:active {
    transform: scale(0.95);
}

.icon {
  font-size: 1.2rem;
}

.thumbnails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thumbnail {
  width: 60px;
  height: 60px;
  margin: 8px 8px 0 0;
  position: relative;
  transition: all 0.3s ease;
}
.thumbnail > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.thumbnail:hover > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  border: 2px solid hsl(26, 100%, 55%);
}

.active > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  border: 2px solid hsl(26, 100%, 55%);
}

.hidden {
  display: none;
}