.container {
  margin-left: 50px;
  flex: 0.9;
}

.companyName {
  font-size: 1rem;
  color: hsl(26, 100%, 55%);
  font-weight: 600;
  margin: 10px;
}
.container > h1 {
  margin: 10px;
  font-size: 2rem;
}

.description {
  margin: 15px 10px 10px 10px;
  color: hsl(219, 9%, 45%);
  font-size: 1rem;
}
.price {
  margin: 10px;
}

.price > div {
  display: flex;
  align-items: center;
}

.price > div > h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.price > div > div {
  background-color: hsl(25, 100%, 94%);
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.price > div > div > p {
  color: hsl(26, 100%, 55%);
  font-size: 0.8rem;
  font-weight: 600;
}

.price > s {
  text-decoration: line-through;
  color: hsl(219, 9%, 45%);
  font-size: 0.8rem;
  font-weight: 600;
}

.buttons {
  display: flex;
  margin: 10px;
}

.iconButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  padding: 10px 0;
  margin-right: 10px;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}

.iconButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.iconButton:active {
  transform: scale(0.9);
}

.icon {
  color: hsl(26, 100%, 55%);
  font-size: 1.2rem;
  font-weight: 600;
}

.iconButton > p {
  font-size: 1rem;
  font-weight: 600;
  user-select: none;
}

.buttons > button {
  width: 200px;
  background-color: hsl(26, 100%, 55%);
  border: 0;
  outline: 0;
  color: hsl(0, 0%, 100%);
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.buttons > button:hover {
  transform: scale(1.05);
  background-color: hsl(25, 100%, 94%);
}
.buttons > button:active {
  transform: scale(0.95);
}

.buttons > button > .icon {
  color: #fff;
  margin: 0px 8px;
}


@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0;
  }
  .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .iconButtons {
    margin-right: 0px;
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
  }
}